<head>
  <title>todos</title>
</head>

<body>
    <div class="container">
        <header>
            <h1>Todo List</h1>
            <form id="new-task" class="new-task">
                <input type="text" name="text" placeholder="Type to add" />
            </form>
        </header>


        <ul>
            {{#each tasks}}
                {{> task}}
            {{/each}}
        </ul>
    </div>
</body>

<template name="task">
    <li class="{{#if checked}}checked{{/if}}">
        <button class="delete">&times;</button>

        <input type="checkbox" checked="{{checked}}" class="toggle-checked">

      <span class="text">{{text}}</span>

    </li>
</template>
